@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{

    /* basic crucial designing here */

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Itim", cursive;

    /* basic crucial designing here */

}

.news-box{
        /* border - designing begins here  */

        border-style: solid;
        border-width: 6px;
        border-color: white;
    
        /* border designing ends here */
    
        /* container specifications for better look */
    
        width: 810px;
        height: 560px;
        margin-bottom: 3%;
        margin-top: 3%;
        
    
}