@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Itim", cursive;
}

body{
    background: url(material/bg.png);
    width: 100%;
    height: 100dvh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

body::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100dvh;  
}

/* backdrop-filter:blur(_px) */

.main-container {
    /* border - designing begins here  */

    border-style: solid;
    border-width: 6px;
    border-color: white;

    /* border designing ends here */

    /* container specifications for better look */

    

    width: 800px;
    height: 550px;
    margin-bottom: 3%;
    margin-top: 3%;
    backdrop-filter: blur(12px);
}