@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Itim", cursive;
}
body{
    background: url(material/bg.png);
    
}
h1{
    color: blue;
    padding: 15px 1px 590px 600px ;
}