@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{

    /* basic crucial designing here */

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Itim", cursive;

    /* basic crucial designing here */

}

.world-clock-box{
    /* border - designing begins here  */

    border-style: solid;
    border-width: 6px;
    border-color: white;

    /* border designing ends here */

    /* container specifications for better look */

    width: 600px;
    height: 750px;
    margin-bottom: 3%;
    margin-top: 3%;
    
}

.world-clock-inner-box{

    /* another-container border designing  */
    
    border-style: solid;
    border-width: 3.8px;
    border-color: white;

    width: 560px;
    height: 710px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;

    backdrop-filter: blur(12px);

} 